<footer id="page-footer" class="page-footer">
  <div class="container wrap">
    <div class="logo-col"><a href="{{ shop.url }}"><img {% comment %}src="{{ 'transparent_pixel.png' | asset_url | split:"?" | first }}" data-{% endcomment %}src="{{ 'FK-logo-square.svg' | asset_url }}" alt=""></a></div>
    <div class="social-col">{% include 'social-links' %}</div>
    <div class="menu b-nav1">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Comprar</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="/">All styles</a>
        <a href="javascript:void(0)" class="hidden">Best sellers</a>
        <a href="javascript:void(0)" class="hidden">New arrivals</a>
        <a href="javascript:void(0)" class="hidden">Accessories</a>
        <a href="/pages/reviews" class="hidden">Resenhas</a>
        <a href="javascript:void(0)" class="hidden">Sale</a>
      </nav>
    </div>
    <div class="menu b-nav2">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Company</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="javascript:void(0)" class="hidden">Nossa história</a>
        <a href="javascript:void(0)" class="hidden">Floatopia</a>
        <a href="javascript:void(0)" class="hidden">Become a stockist</a>
        <a href="javascript:void(0)" class="invoke-popup-hello">Faça parte da Família</a>
      </nav>
    </div>
    <div class="menu b-nav3">
      <div class="wrap"><div class="plug visible-mobile"><!--This is needed for correct flexbox alignment--></div><h3>Suporte</h3><div class="cross visible-mobile"></div></div>
      <nav>
        <a href="https://tools.usps.com/go/TrackConfirmAction_input" target="_blank">Rastreie seu pedido</a>
        <a href="/pages/support">Suporte</a>
      </nav>
    </div>
  </div>
  <div class="copyright-stripe">
    <div class="container">
      <div class="copy">
        <div>{{ 'layout.footer.copyright' | t }} &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</div>
        <div>FK Representações - 11.159.911/0001-82 - Av Paulista, 807 - Bela Vista - São Paulo - SP</div>
      </div>
      <div class="c-cards">
        <img src="{{ 'card1.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card2.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card3.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card4.svg' | asset_url | split:'?' | first }}" alt="">
        <img src="{{ 'card5.svg' | asset_url | split:'?' | first }}" alt="">
      </div>
    </div>
  </div>
</footer>